<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sport Wish</title>
    <link rel="icon" href="~/Content/images/favicon.ico">

    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/font-awesome.css")
    @Styles.Render("~/Content/hamburgers.min.css")
    @Styles.Render("~/Content/jquery-ui.min.css")
    @Styles.Render("~/Content/animsition.min.css")
    @Styles.Render("~/Content/icon-font.min.css")
    @Styles.Render("~/Content/material-design-iconic-font.min.css")
    @Styles.Render("~/Content/slick.css")
    @Styles.Render("~/Content/slick-theme.css")
    @Styles.Render("~/Content/main.css")
    @Styles.Render("~/Content/util.css")
    @Styles.Render("~/Content/checkout.css")

    @if (IsSectionDefined("Styled"))
    {@RenderSection("Styles", required: false)}

</head>
<body>
    <header class="header-v4">
        @Html.Partial("_Header")
    </header>

    @Html.Partial("_Cart")

    @RenderBody()


    <div class="cart">
        @Html.Partial("_BackToTop")
    </div>

    <div class="cart">
        @Html.Partial("_Footer")
    </div>



    <!--Section for main scripts render-->

    @Scripts.Render("~/Scripts/scr/jquery-3.2.1.min.js")
    @Scripts.Render("~/Scripts/scr/jquery-ui.min.js")
    @Scripts.Render("~/Scripts/scr/animsition.min.js")
    @Scripts.Render("~/Scripts/scr/popper.min.js")
    @Scripts.Render("~/Scripts/scr/bootstrap.min.js")
    @Scripts.Render("~/Scripts/scr/isotope.pkgd.min.js")
    @Scripts.Render("~/Scripts/scr/sweetalert.min.js")
    @Scripts.Render("~/Scripts/scr/slick.js")
    @Scripts.Render("~/Scripts/scr/slick-custom.js")
    @Scripts.Render("~/Scripts/scr/main.js")


    <!--Handler for local scripts-->
    @RenderSection("bootstrap.min", required: false)
    @RenderSection("jquery-3.2.1.min", required: false)
    @RenderSection("jquery-ui.min", required: false)
    @RenderSection("main", required: false)
    @RenderSection("popper.min", required: false)
    @RenderSection("animsition.min", required: false)
    @RenderSection("slick-custom", required: false)
    @RenderSection("slick", required: false)
    @RenderSection("isotope.pkgd.min", required: false)
    @RenderSection("sweetalert.min", required: false)

</body>
</html>
