@model IEnumerable<eUseControl.Domain.Entities.Product>

@{
    ViewBag.Title = "ListProducts";
    Layout = "~/Views/Shared/Layouts/_Admin.cshtml";
}

<h2>ListProducts</h2>

<p>
    @Html.ActionLink("Create New", "AddProduct")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegularPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromotionalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegularPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromotionalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tags)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Currency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.ActionLink("Edit",    "EditProduct",      new { id=item.Id }) |
            @Html.ActionLink("Delete",  "DeleteProduct",    new { id=item.Id })
        </td>
    </tr>
}

</table>
